./build
build
build/

./bin
bin
bin/

.classpath
.project
facebook/.classpath
facebook/.project

gen
gen/
./gen/
./gen

.settings
.settings/

target/
./target/

res/.DS_Store
res/drawable/.DS_Store
res/drawable-xhdpi/.DS_Store

./project.properties
project.properties

.DS_Store
./.DS_Store
assets/.DS_Store
